@model Product
<div class="card shadow border-0 mt-4 container " style="max-height:auto;">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2 ">Edit Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="POST" class="row">

    <div asp-validation-summary="All"></div>
    <div class="row ">
        <div class="mb-3 col-8 ">
            <label asp-for="Title" class="form-label text-primary"></label>
            <input asp-for="Title" class="form-control border border-primary">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

    </div>
    <div class="row ">
        <div class="mb-3 col-8">
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control  border border-primary">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="row ">
        <div class="mb-3 col-8">
            <label asp-for="Author" class="form-label"></label>
            <input asp-for="Author" class="form-control  border border-primary">
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
    </div>
    <div class="row ">
        <div class="mb-3 col-8">
            <label asp-for="ListPrice" class="form-label"></label>
            <input asp-for="ListPrice" class="form-control  border border-primary">
            <span asp-validation-for="ListPrice" class="text-danger"></span>
        </div>
    </div>
    <div class="row ">
        <div class="mb-3 col-8">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" class="form-control  border border-primary">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="row ">
        <div class="mb-3 col-8">
            <label asp-for="Price50" class="form-label"></label>
            <input asp-for="Price50" class="form-control  border border-primary">
            <span asp-validation-for="Price50" class="text-danger"></span>
        </div>
    </div>
    <div class="row ">
        <div class="mb-3 col-8">
            <label asp-for="Price100" class="form-label"></label>
            <input asp-for="Price100" class="form-control  border border-primary">
            <span asp-validation-for="Price100" class="text-danger"></span>
        </div>
    </div>
    <div class="row ">
        <div class="mb-3 col-8">
            <label asp-for="ISBN" class="form-label"></label>
            <input asp-for="ISBN" class="form-control  border border-primary">
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
    </div>
    <div class="row ">
        <div class="col-6 border border-secondary">
            <button type="submit" class="btn btn-primary form-control">Edit</button>
        </div>
        <div class="col-6 border border-primary">
            <a asp-controller="Product" asp-action="Index" class="btn btn-secondary  form-control">Back To List</a>
        </div>
    </div>


</form>
</div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}